<div class="container mt-4">
    <div class="col-8 offset-4">
        <div class="card" style="width: 18rem;">
            <img src="{{foxes.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fox</h5>
              <p class="card-text">Cute Fox</p>
              <a class="btn btn-primary" href = "{{foxes.link}}">Visit Us</a>
              <button class="btn btn-secondary" routerLink="">Back</button>
            </div>
          </div>
    </div>
</div>